@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
    @font-face {
      font-family: Avenir Next LT Pro;
      font-weight: 400;
      src: url(/Fonts/Avenir\ Next\ LT\ Pro/AvenirNextLTPro-Bold.ttf) format("tff");
    }
  } */

@layer base {
    @font-face {
        font-family: 'Avenir Next LT Pro';
        src: url('/Fonts/AvenirNextLTPro/AvenirNextLTPro-Thin.ttf') format('truetype');
        font-weight: 100;
    }
    @font-face {
        font-family: 'Avenir Next LT Pro';
        src: url('/Fonts/AvenirNextLTPro/AvenirNextLTPro-Light.ttf') format('truetype');
        font-weight: 300;
    }
    @font-face {
        font-family: 'Avenir Next LT Pro';
        src: url('/Fonts/AvenirNextLTPro/AvenirNextLTPro-Regular.ttf') format('truetype');
        font-weight: 400;
    }
    @font-face {
        font-family: 'Avenir Next LT Pro';
        src: url('/Fonts/AvenirNextLTPro/AvenirNextLTPro-Medium.ttf') format('truetype');
        font-weight: 500;
    }
    @font-face {
        font-family: 'Avenir Next LT Pro';
        src: url('/Fonts/AvenirNextLTPro/AvenirNextLTPro-Demi.ttf') format('truetype');
        font-weight: 600;
    }
    @font-face {
        font-family: 'Avenir Next LT Pro';
        src: url('/Fonts/AvenirNextLTPro/AvenirNextLTPro-Bold.ttf') format('truetype');
        font-weight: 700;
    }
    @font-face {
        font-family: 'Avenir Next LT Pro';
        src: url('/Fonts/AvenirNextLTPro/AvenirNextLTPro-Heavy.ttf') format('truetype');
        font-weight: 800;
    }
    @font-face {
        font-family: 'Avenir Next LT Pro';
        src: url('/Fonts/AvenirNextLTPro/AvenirNextLTPro-Ultlt.ttf') format('truetype');
        font-weight: 900;
    }

    * {
        font-family: 'Avenir Next LT Pro';
        box-sizing: border-box;
    }
}
